<!--index.vtl-->
<h1>Welcome to the Startup Team Tracker</h1>

#if ($mostRecentMember)
  <p>Recently Added: <strong>$mostRecentMember.getName()</strong> of <strong>$mostRecentMember.getOrganization()</strong></p>
#end

<a href="/teams/new">Add a new team</a>
<a href="/teams">View all teams</a>

<!--index.vtl-->
