<!--index.vtl-->
<h1>Welcome to the Startup Team Tracker</h1>

#if ($mostRecentMember)
  <p>Recently Added: <strong>$mostRecentMember.getName()</strong> of <strong>$mostRecentMember.getOrganization()</strong></p>
#end

<a href="/members/new">Add a new member</a>
<a href="/members">View all current members</a>

<!--index.vtl-->
