<!--teams.vtl-->
<h1>Tech Academy Meetup</h1>
  <div class="row">
    <div class="col-md-6">
      <h3>Some stuff</h3>
      <p>Some stuff</p>
    </div>
    <div class="col-md-6">
      
    </div>
  </div>
<a href="/teams/new">Add New Team</a>
<!--teams.vtl-->
