<!--team-members-success.vtl-->
<h1>Success!</h1>

<p><strong>$mostRecentMember.getName()</strong> of <strong>$mostRecentMember.getOrganization()</strong> has been saved to the <strong>$team.getName()</strong> team.</p>

<a href="teams/$team.getId()/members/new">Add another member to this team</a><br />
<a href="/teams">View teams</a>
<!--team-members-success.vtl-->
