<!--team.vtl-->
<h1>$team.getName()</h1>

<ul>
  #foreach($member in $team.getMembers())
   <li><strong>$member.getName()</strong> of <strong>$member.getOrganization()</strong></li>
  #end
</ul>

<a href="/teams/$team.getId()/members/new">Add a new member</a><br />
<a href="/teams">All teams</a>
<!--team.vtl-->
