<!--team-form.vtl-->
<h1>Add a Team</h1>

<p>Add a team here:</p>

<form action="/teams" method="post">
  <label for="name">Team name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Team</button>
</form>
<!--team-form.vtl-->
